<!DOCTYPE  html>
<html ng-app="prevTempo">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Previsão do Tempo utilizando Angular</title>

    <link type="text/css" href="lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="lib/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">


  </head>
  <body>


  <div class="container">

    <section class="topo">
      <div class="logo col-md-6 col-xs-12"></div>
      <nav class="menu-principal col-md-6 col-xs-12">
        <ul class="topnav" id="myTopnav">
          <li class="nav-li col-md-4 col-xs-12"><a href="https://github.com/hasenack/previsao-tempo-angular">DOCS</a></li> 
          <li class="nav-li col-md-4 col-xs-12"><a href ng-click="converteC();">Visualizar em Celsius</a></li>  
          <li class="nav-li col-md-4 col-xs-12"><a href ng-click="converteF();">Visualizar em Fahrenheit</a></li> 
            <li class="icon">
              <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
            </li>
        </ul>
      </nav>
    </section>
 

    <section class="conteudo">
      <h1>Previsão do Tempo - Hoje</h1>   

      <div ng-controller="WeatherCtrl">
              
        <div class="data-prev">{{dataAtual | date:'dd/MM/yyyy - HH:mm:ss'}}</div>

        <!-- Previsão para o dia corrente -->
        <div class="dados-tempo-hoje">
          <ul class="dados-tempo">
            <li>
              <figure class="icons">
                <canvas id="{{details.currently.icon}}" class="{{details.currently.icon}}" width="64" height="64"></canvas>
              </figure><span> {{details.currently.summary}} </span><br>
            </li>
            <li><span>Temperatura Celsius:</span> {{tempAtual}}° {{siglaTemp}} </li>            
            <li><span>Sensação Térmica:</span> {{sensaAtual}}° {{siglaTemp}} </li> 
            <li><span>Mínima de Hoje:</span> {{tempMin}} ° {{siglaTemp}} </li>
            <li><span>Máxima de Hoje:</span> {{tempMax}} ° {{siglaTemp}} </li>          
          </ul>
        </div>

        <!-- Previsão para os 7 dias seguintes -->
        <div class="previsao-semana"> 
          <div class="col-md-4 col-sm-6 col-xs-12 previsao-semana-item" ng-click="passaParam1();">
            <li class="previsao-semana-dia">{{diaUm | date:'EEEE'}} </li> 
            <li>{{details.daily.data[1].summary}} </li>
            <li><span>Mínima:</span> {{details.daily.data[1].temperatureMin}} ° C </li>
            <li><span>Máxima:</span> {{details.daily.data[1].temperatureMax}} ° C </li>              
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 previsao-semana-item" ng-click="passaParam2();">
            <li class="previsao-semana-dia" class="previsao-semana-dia">{{diaDois | date:'EEEE'}} </li> 
            <li>{{details.daily.data[2].summary}} </li>
            <li><span>Mínima:</span> {{details.daily.data[2].temperatureMin}} ° C </li>
            <li><span>Máxima:</span> {{details.daily.data[2].temperatureMax}} ° C </li>          
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 previsao-semana-item" ng-click="passaParam3();">
            <li class="previsao-semana-dia">{{diaTres | date:'EEEE'}} </li> 
            <li>{{details.daily.data[3].summary}} </li>
            <li><span>Mínima:</span> {{details.daily.data[3].temperatureMin}} ° C </li>
            <li><span>Máxima:</span> {{details.daily.data[3].temperatureMax}} ° C </li>         
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 previsao-semana-item" ng-click="passaParam4();">
            <li class="previsao-semana-dia">{{diaQuatro | date:'EEEE'}} </li> 
            <li>{{details.daily.data[4].summary}} </li>
            <li><span>Mínima:</span> {{details.daily.data[4].temperatureMin}} ° C </li>
            <li><span>Máxima:</span> {{details.daily.data[4].temperatureMax}} ° C </li>
          </div>      

          <div class="col-md-4 col-sm-6 col-xs-12 previsao-semana-item" ng-click="passaParam5();">
            <li class="previsao-semana-dia">{{diaCinco | date:'EEEE'}} </li> 
            <li>{{details.daily.data[5].summary}} </li>
            <li><span>Mínima:</span> {{details.daily.data[5].temperatureMin}} ° C </li>
            <li><span>Máxima:</span> {{details.daily.data[5].temperatureMax}} ° C </li>           
          </div>                           

          <div class="col-md-4 col-sm-6 col-xs-12 previsao-semana-item" ng-click="passaParam6();">
            <li class="previsao-semana-dia">{{diaSeis | date:'EEEE'}} </li> 
            <li>{{details.daily.data[6].summary}} </li>
            <li><span>Mínima:</span> {{details.daily.data[6].temperatureMin}} ° C </li>
            <li><span>Máxima:</span> {{details.daily.data[6].temperatureMax}} ° C </li>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 previsao-semana-item" ng-click="passaParam7();">
            <li class="previsao-semana-dia">{{diaSete | date:'EEEE'}} </li> 
            <li>{{details.daily.data[7].summary}} </li>
            <li><span>Mínima:</span> {{details.daily.data[7].temperatureMin}} ° C </li>
            <li><span>Máxima:</span> {{details.daily.data[7].temperatureMax}} ° C </li>      
          </div>
        </div>
      </div> 



    </section>
  
    <section class="footer">
      <footer> <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></footer>
    </section>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>  
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>     
  <script src="lib/skycons.js"></script>  
  <script src="lib/app.js"></script>
  <script src="lib/scripts.js"></script>

  </body>
</html>
